/* src/fonts.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@font-face {
    font-family: 'Labora';
    src: url('/Labora/Labora-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Labora';
    src: url('/Labora/Labora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* custom css  */
.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(-100%);
    opacity: 0;
}

.sticky-nav.visible {
    transform: translateY(0);
    opacity: 1;
}

/* slider  */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-slide {
    display: flex;
    animation: scroll 20s linear infinite;
}

@media (max-width: 768px) {
    .animate-slide {
        animation-duration: 30s;
    }
}

@media (max-width: 480px) {
    .animate-slide {
        animation-duration: 40s;
    }
}
